.mb-2{
    width: 500px;
}
h2{
    font-family: comic 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.darkcolor{
    background-color: blue; !important
}